[submodule "external/lib/structopt"]
	path = external/lib/structopt
	url = https://github.com/p-ranav/structopt.git
[submodule "external/lib/googletest"]
	path = external/lib/googletest
	url = https://github.com/google/googletest.git
